@{
    ViewData["Title"] = "Betterboxd - Home";
}

<style>
    .home-jumbotron {
        background-image: url('https://c8.alamy.com/comp/CXW7RH/new-york-city-ny-usa-large-crowd-outside-public-theater-street-festival-CXW7RH.jpg'); /* Path to your cinema background */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        padding: 100px 30px;
        border-radius: 0.5rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
    }
</style>

<div class="jumbotron home-jumbotron text-center">
    <h1>Betterboxd - The Better Film Review Search Engine</h1>
    <p>AI-powered, real-time insights of public sentiment surrounding film.</p>
</div>